<div>
	<a href="/bright_ideas">ideas home</a>   <a href="/logout/">logout</a><br>
	Name: <%= @user.name %><br>
	Alias: <%= @user.alias %><br>
	email: <%= @user.email %><br>
	Total Number of posts: <%= @user.total_posts %><br>
	Total Number of Likes: <%= @user.total_likes %>
</div>